# Betaflight / NUCLEOH743 (H743) 4.1.0 Jul 13 2019 / 23:58:36 (4c4ccac62) MSP API: 1.42

board_name NUCLEOH743
manufacturer_id STME

# resources
resource BEEPER 1 E03
resource MOTOR 1 C06
resource MOTOR 2 C07
resource MOTOR 3 C08
resource MOTOR 4 C09
resource MOTOR 5 B04
resource MOTOR 6 B05
resource MOTOR 7 A02
resource MOTOR 8 A01
resource PPM 1 E11
resource PWM 1 E11
resource PWM 2 E09
resource PWM 3 A15
resource LED_STRIP 1 B15
resource SERIAL_TX 1 A09
resource SERIAL_TX 2 D05
resource SERIAL_TX 3 D08
resource SERIAL_TX 4 C10
resource SERIAL_TX 5 C12
resource SERIAL_TX 6 C06
resource SERIAL_TX 7 E08
resource SERIAL_TX 8 E01
resource SERIAL_RX 1 A10
resource SERIAL_RX 2 D06
resource SERIAL_RX 3 D09
resource SERIAL_RX 4 C11
resource SERIAL_RX 5 D02
resource SERIAL_RX 6 C07
resource SERIAL_RX 7 E07
resource SERIAL_RX 8 E00
resource I2C_SCL 1 B08
resource I2C_SDA 1 B09
resource LED 1 B00
resource LED 2 B07
resource SPI_SCK 1 B03
resource SPI_SCK 3 C10
resource SPI_MISO 1 B04
resource SPI_MISO 3 C11
resource SPI_MOSI 1 B05
resource SPI_MOSI 3 C12
resource ADC_BATT 1 B01
resource ADC_RSSI 1 F14
resource ADC_CURR 1 C00
resource ADC_EXT 1 C03
resource GYRO_CS 1 D15

# timer
timer B15 AF2
# pin B15: TIM12 CH2 (AF2)
timer E11 AF1
# pin E11: TIM1 CH2 (AF1)
timer E09 AF1
# pin E09: TIM1 CH1 (AF1)
timer A15 AF1
# pin A15: TIM2 CH1 (AF1)
timer C06 AF3
# pin C06: TIM8 CH1 (AF3)
timer C07 AF3
# pin C07: TIM8 CH2 (AF3)
timer C08 AF3
# pin C08: TIM8 CH3 (AF3)
timer C09 AF3
# pin C09: TIM8 CH4 (AF3)
timer B04 AF2
# pin B04: TIM3 CH1 (AF2)
timer B05 AF2
# pin B05: TIM3 CH2 (AF2)
timer A02 AF2
# pin A02: TIM5 CH3 (AF2)
timer A01 AF2
# pin A01: TIM5 CH2 (AF2)
timer A03 AF2
# pin A03: TIM5 CH4 (AF2)
timer A00 AF2
# pin A00: TIM5 CH1 (AF2)

# dma
dma ADC 1 8
# ADC 1: DMA2 Stream 0 Request 9
dma ADC 2 9
# ADC 2: DMA2 Stream 1 Request 10
dma ADC 3 10
# ADC 3: DMA2 Stream 2 Request 115
dma TIMUP 1 0
# TIMUP 1: DMA1 Stream 0 Request 15
dma TIMUP 2 0
# TIMUP 2: DMA1 Stream 0 Request 22
dma TIMUP 3 0
# TIMUP 3: DMA1 Stream 0 Request 27
dma TIMUP 5 0
# TIMUP 5: DMA1 Stream 0 Request 59
dma TIMUP 8 4
# TIMUP 8: DMA1 Stream 4 Request 51
dma pin E11 0
# pin E11: DMA1 Stream 0 Request 12
dma pin E09 0
# pin E09: DMA1 Stream 0 Request 11
dma pin A15 0
# pin A15: DMA1 Stream 0 Request 18
dma pin C06 0
# pin C06: DMA1 Stream 0 Request 47
dma pin C07 1
# pin C07: DMA1 Stream 1 Request 48
dma pin C08 2
# pin C08: DMA1 Stream 2 Request 49
dma pin C09 3
# pin C09: DMA1 Stream 3 Request 50
dma pin B04 4
# pin B04: DMA1 Stream 4 Request 23
dma pin B05 5
# pin B05: DMA1 Stream 5 Request 24
dma pin A02 0
# pin A02: DMA1 Stream 0 Request 57
dma pin A01 4
# pin A01: DMA1 Stream 4 Request 56
dma pin A03 1
# pin A03: DMA1 Stream 1 Request 58
dma pin A00 2
# pin A00: DMA1 Stream 2 Request 55
